@keyframes slideInFromRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}


.landingpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}


.o {
    color:rgb(203, 133, 29)
  }
  
  .l {
    color: rgb(14, 177, 123);
  }
  
  .e {
    color:rgb(125, 176, 22)
  }
  
  .y {
    color: rgb(177, 14, 153);
  }
  
  .m {
    color: rgb(15, 201, 22);
  }

  .headerbox {
      margin-top: 100px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .button {
    margin-top: 0;
    background-color: #FFA260;
    color: white;
    /* box-shadow: 4px 5px 9px 0px #FFA260; */
  }

  .button:hover {
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 9px 0px #FFA260;
    transform: translateY(-0.15em); 
  }

  .mainHeader {
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .logo {
    width: 300px;
  }
  

  