.o {
    color:rgb(203, 133, 29)
  }
  
  .l {
    color: rgb(14, 177, 123);
  }
  
  .e {
    color:rgb(125, 176, 22)
  }
  
  .y {
    color: rgb(177, 14, 153);
  }
  
  .m {
    color: rgb(15, 201, 22);
  }

  .headerbox {
      margin-top: 100px;
      text-align: center;
  }