@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');



/* Header and NavBar Styling */

.mainHeader {
  animation: 1s ease-out 0s 1 slideInFromLeft;
  width: 50%;
  margin:0;
}

.container {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1) 80%);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.rightnav {
  display: flex;
  margin-top: 10px;
}

.logo {
  margin-top: 5px;
  width: 250px;
  height: 50px;
}


