@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

body {
  background-image: url("./assets/funkyGreenLandscape.jpg");
  z-index: 1;
  background-size: cover;

}
/* 
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
  /* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  } */
  
  
  .block-container {
    margin-top: 51px;
    position: absolute;
    background-size: 300px;
    background-image: url('');
    display: grid;
    width: 600px;
    height: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .block-container div {
    z-index: 3;
  }
  .hey {
    display: flex;
    justify-content: center;
  }



  .one {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .two {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .three {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .four {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 140px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .five {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .six {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .seven {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .eight {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 140px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .nine {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .ten {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .eleven {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .twelve {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 140px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .thirteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .fourteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .fifteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .sixteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 140px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .seventeen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .eighteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .nineteen {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .twenty {
    background-image: linear-gradient(45deg, rgb(57, 157, 75), rgb(65, 192, 235) 80%);
    width: 140px;
    height: 150px;
    margin: 0;
    padding: 0;
    border: solid black 1px;
  }
  .removeBlock{
    background-color: rgba(203, 133, 29, 0);
    width: 150px;
    height: 160px;
    margin: 0;
    padding: 0;
  }
  
  
  
  
  
  
  * {
    font-family: 'Pixelify Sans', sans-serif;
  }
  .game-window-and-button-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    position: relative;
  }
  .celeb-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 1;
    border: solid black 5px;
    box-sizing: border-box;
  }
  .game-window {
    position: absolute;
    z-index: 4;
  }
  button {
    padding: 10px;
    align-self: center;
    margin-top: 10px;
  }
  .gameButton {
    text-align: center;
    background-color: black;
    z-index: 1;
  }
  button {
    background: none;
    color: #FFA260;
    border-radius: 18px;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
    z-index:3;
  }

  
  .timer {

    position:relative;
    z-index: 1;
    background-color: black;
    color: white;
  }
  .new-ball-timer {
    z-index: 4;
    background-color: black;
    color: white;
  }
  .next-celeb-button {
    z-index: 6;
    background-color: black;
    color: white;
  }

  .time-remaining {
    z-index: 30;
    
  }

  .answer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1000px;
    z-index:30;
    /* position: absolute; */
    bottom: 20px;
    left: 120%;
    /* transform: translateX(-50%); */
  }

  .answer-form input {
   width: 200px;
   height: 40px;
   border-radius: 10px;
    
  }

  .answer-form button {
    background-color: #FFA260;
    color: white;
  }

  .answer-form button:hover {
    cursor: pointer;
    box-shadow: 1px 2px 9px 0px #FFA260;
    transform: translateY(-0.15em);
  }

  .scores {
    border: 1px solid #FFA260; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    
  }

.inputs {
  width: 550px;
  
  
}

.inputs input {
  margin-right: 20px;
}
  

